.gridder {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
  margin-top: 20px;
}

.boxer {
  display: inline-block;       
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
  }

.cellstate0 {
  background-color: lightgray;
}

.cellstate1 {
  background-color: green;
}

.cellstate2 {
  background-color: #5555EE;
}

.cellstate3 {
    background-color: yellow;
}
  
.boxer:hover {
  background: #AA0088;
}
