.center {
  margin: auto;
  display: table;
  margin-top: 5px;
}

.yellow{
    color: #ffff00;
    font-family: monospace;
    font-size: x-large;
}
 
h1, h2, h3, h4 {
  color: yellow;
  margin: auto;
  font-family: monospace;
  text-align: center;
  width: 90%;
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}
